@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Josefin+Sans:wght@300&display=swap&family=Creepster&family=Fredoka+One&family=Frijole&display=swap');

/* font-family: 'Bungee Shade', cursive;
font-family: 'Creepster', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Frijole', cursive; 
font-family: 'Josefin Sans', sans-serif;*/

.App {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #121c2e;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #121c2e;
}
.header-title {
  color: #d6f75c;
  font-family: 'Frijole', cursive;
  font-size: calc(30px + 2vmin);
  margin: 0 auto;
  padding-top: 3vh;
}
.header-subtitle {
  color: #afd61c;
  margin: 2vh;
  font-family: 'Josefin Sans', sans-serif;
  font-size: calc(10px + 2vmin);
}

.app-link {
  color: #afd61c;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
}
.App-body {
  overflow-y: scroll;
  background-color: #1c2b47;
  color: #149bb3;
  min-height: 100vh;
  max-height: 90vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  font-family: 'Fredoka One', cursive;
  font-size: calc(10px + 2vmin);
}
.challenge-body {
  overflow-y: scroll;
  background-color: rgba(28, 43, 71, 1);
  color: #149bb3;
  min-height: 70vh;
  max-height: 90vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  font-family: 'Fredoka One', cursive;
  font-size: calc(10px + 2vmin);
  /* background-image: url('./assets/vintageWaves.jpg');
  background-repeat: repeat-x;
  
  background-size: 1000px 850px; */
}

.howdy {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  letter-spacing: 2px;
}
.sub-howdy {
  font-family: 'Josefin Sans', sans-serif;
}

.App-footer-with-links {
  min-height: 10vh;
  max-height: 20vh;
  width: 100%;
  color: #d6f75c;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(7px + 2vmin);
  background-color: #121c2e;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
}
.challenge-app-footer-with-links {
  min-height: 10vh;
  max-height: 20vh;
  display: flex;
  color: #d6f75c;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(7px + 2vmin);
  background-color: #121c2e;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
}

@media only screen and (max-width: 425px) {
  .App-footer-with-links {
    padding: 0;
    font-size: calc(4px + 2vmin);
  }
  .top-padding {
    padding-top: calc(10px + 15vmin);
  }
  .App-header {
    min-height: 15vh;
  }
  .header-title {
    font-size: calc(10px + 5vmin);
    padding: 10px 0 10px 0;
  }
}

.App-footer {
  min-height: 10vh;
  max-height: 100px;
  display: flex;
  color: #d6f75c;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #121c2e;
  padding-left: 100px;
  padding-right: 100px;
}
.logo-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*LIST*/
.list {
  margin: 30px;
  padding-top: 30px;
}
.item {
  text-transform: uppercase;
  color: #7eeddb;
  text-decoration: none;
}
.margin-bottom-md {
  margin-bottom: 0px;
}
.item:hover {
  color: #d6f75c;
}
.name-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
ul {
  padding: 0;
}

/*CARD STYLES*/
.card-container {
  min-height: 300px;
  min-width: 24vw;
  max-width: 260px;
  border: 5px solid #afd61c;
  border-radius: 4px;
  margin: 2vh;
  margin-top: 3vh;
}
.card-sm-font {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  padding: 20px;
  margin: 0 auto;
}
.clock {
  margin-top: 30px;
  margin-bottom: 0;
}
.card-header {
  min-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #121c2e;
}
.card-row {
  display: flex;
  flex-direction: row;
}

.card-title {
  letter-spacing: 3px;
  color: #7eeddb;
  font-family: 'Fredoka One', cursive;
  /* font-family: 'Creepster', cursive; */
  font-size: calc(18px + 2vmin);
  padding-top: 3vh;
}
.challenge-card-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.challenge-card-body {
  height: 240px;
  width: 240px;
  padding: 20px;
  background-color: #149bb3;
  color: #d6f75c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  padding: 10px;
  color: #d6f75c;
  background-color: #149bb3;
  margin: 20px;
}
.icon-text {
  align-items: center;
  display: flex;
  z-index: 0;
  justify-content: center;
  text-align: center;
}
.text-icon {
  z-index: 9;
  position: fixed;
  font-size: calc(22px + 2vmin);
}

.footer-icon {
  /* position: fixed; */
  align-items: center;
  color: rgba(20, 155, 179, 0.7);
  font-size: 90px;
  /* padding: 10px; */
}

.icon-text-box {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 200px;
}

.card-subtitle {
  color: #afd61c;
  margin: 2vh;
  margin: 0 auto;
  padding-top: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: calc(7px + 2vmin);
}

.card-link {
  color: rgb(112, 76, 182);
}
.card-body {
  background-color: #149bb3;
  color: #d6f75c;

  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.card-footer {
  min-height: 20px;
  display: flex;
  color: #7eeddb;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  background-color: #121c2e;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (max-width: 425px) {
  .challenge-card-container {
    flex-direction: column;
  }
  .card-title {
    font-size: calc(30px + 2vmin);
    text-align: center;
    padding-top: 0;
  }
  .card-subtitle {
    padding-top: 0;
  }
  .card-container {
    max-height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .card-body {
    max-height: 40px;
  }
  .challenge-card-body {
    height: 200px;
    width: 200px;
  }
  .card-header {
    max-height: 100px;
  }
  .card-footer {
    max-height: 40px;
  }
  .icon-text-box {
    width: 100px;
  }
  .icon-text {
    margin-left: 20px;
    margin-right: 20px;
  }
  .text-icon {
    z-index: 9;
    position: fixed;
    font-size: calc(10px + 2vmin);
  }
  .footer-icon {
    font-size: 58px;
  }
}

/*FORM*/
.form-container {
  display: flex;
  flex-direction: column;
}
.form-input {
  margin: 3vh;
  min-width: 20em;
  background-color: #121c2e;
  padding: 2vh;
  border: none;
  color: #afd61c;
  font-size: 0.75em;
  border-radius: 4px;
  font-family: 'Josefin Sans', sans-serif;
}

/*SIGNIN*/
.signin-text {
  font-family: 'Fredoka One', cursive;
  font-size: 36px;
}
/* ScrollMenu */
.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  /* border: 1px blue solid; */
}
.menu-item.active {
  /* border: 1px blue solid; */
  border: none;
}
.scroll-container {
  position: relative;
  min-width: 320px;
}
.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

/*BUTTON */
.submit-btn {
  width: 200px;
  min-height: 50px;
  background-color: #149bb3;
  padding: 2vh;
  border: none;
  color: #afd61c;
  border-radius: 4px;
  letter-spacing: 5px;
  margin-top: 3vh;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
